Flow4.txt
[{"id":"c5c6135e.42f2c","type":"function","z":"c09d1b01.8b18e8","name":"GetGPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["cc651fa9.39f8c","9becbc76.ffcd6"]]},{"id":"b15254c5.4417b8","type":"http in","z":"c09d1b01.8b18e8","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":300,"wires":[["c5c6135e.42f2c"]]},{"id":"cc651fa9.39f8c","type":"http response","z":"c09d1b01.8b18e8","name":"","statusCode":"","headers":{},"x":540,"y":340,"wires":[]},{"id":"9becbc76.ffcd6","type":"debug","z":"c09d1b01.8b18e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":440,"wires":[]},{"id":"d8f4348e.f17a78","type":"function","z":"c09d1b01.8b18e8","name":"SetGPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["cc651fa9.39f8c"]]},{"id":"e873498f.e38f38","type":"rpi-gpio in","z":"c09d1b01.8b18e8","name":"","pin":"7","intype":"up","debounce":"25","read":false,"x":100,"y":400,"wires":[["d8f4348e.f17a78"]]}]