Flow5.txt
[{"id":"72eece8d.9f3fb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c09d1b01.8b18e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fd22fbfd.812038","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8c8cd832.e45528","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8fdb9598.029df8","type":"rpi-gpio out","z":"72eece8d.9f3fb","name":"Led","pin":"12","set":"","level":"0","freq":"","out":"out","x":560,"y":220,"wires":[]},{"id":"a453643.ed6d398","type":"inject","z":"72eece8d.9f3fb","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":60,"wires":[["8fdb9598.029df8","bf0f463f.c86d28"]]},{"id":"965f901d.e3342","type":"inject","z":"72eece8d.9f3fb","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["8fdb9598.029df8","bf0f463f.c86d28"]]},{"id":"bf0f463f.c86d28","type":"debug","z":"72eece8d.9f3fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":140,"wires":[]},{"id":"1d0c8133.e8894f","type":"rpi-gpio in","z":"72eece8d.9f3fb","name":"Button","pin":"16","intype":"up","debounce":"25","read":false,"x":50,"y":260,"wires":[["bf0f463f.c86d28","79af24f2.f0064c"]]},{"id":"79af24f2.f0064c","type":"switch","z":"72eece8d.9f3fb","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":300,"wires":[["c1e2a715.ca3978"],["1d9b5be7.7611d4"]]},{"id":"c1e2a715.ca3978","type":"change","z":"72eece8d.9f3fb","name":"Change 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["8fdb9598.029df8"]]},{"id":"1d9b5be7.7611d4","type":"change","z":"72eece8d.9f3fb","name":"Change 1 ","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["8fdb9598.029df8"]]},{"id":"a0f57652.200808","type":"inject","z":"fd22fbfd.812038","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"0.5","x":110,"y":220,"wires":[["3ddd992b.f8aea6"]]},{"id":"32439c21.36e624","type":"http request","z":"fd22fbfd.812038","name":"","method":"GET","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DW823zSR/datachannels/Temperature_1/datapoints.csv","tls":"","x":430,"y":220,"wires":[["565cd32f.5f19dc","aa7c0202.4baf3"]]},{"id":"3ddd992b.f8aea6","type":"function","z":"fd22fbfd.812038","name":"Payload","func":"msg.headers = {\n    deviceKey:\"x5VKTgqyUl975aoC\"\n};\nmsg.payload = \"Temperature_1,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[[]]},{"id":"565cd32f.5f19dc","type":"http response","z":"fd22fbfd.812038","name":"","statusCode":"","headers":{},"x":590,"y":200,"wires":[]},{"id":"aa7c0202.4baf3","type":"debug","z":"fd22fbfd.812038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":280,"wires":[]},{"id":"8283d84.4501428","type":"http in","z":"c09d1b01.8b18e8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["fa8686a7.4d8e68"]]},{"id":"fa8686a7.4d8e68","type":"random","z":"c09d1b01.8b18e8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":180,"wires":[["55c8da45.bfc504","7fa6cdd2.7aa1a4"]]},{"id":"7fa6cdd2.7aa1a4","type":"debug","z":"c09d1b01.8b18e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":160,"wires":[]},{"id":"55c8da45.bfc504","type":"http response","z":"c09d1b01.8b18e8","name":"","statusCode":"","headers":{},"x":480,"y":220,"wires":[]},{"id":"b15254c5.4417b8","type":"http in","z":"c09d1b01.8b18e8","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":300,"wires":[["c5c6135e.42f2c"]]},{"id":"e873498f.e38f38","type":"rpi-gpio in","z":"c09d1b01.8b18e8","name":"","pin":"7","intype":"up","debounce":"25","read":false,"x":100,"y":400,"wires":[["d8f4348e.f17a78"]]},{"id":"d8f4348e.f17a78","type":"function","z":"c09d1b01.8b18e8","name":"SetGPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["cc651fa9.39f8c"]]},{"id":"c5c6135e.42f2c","type":"function","z":"c09d1b01.8b18e8","name":"GetGPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["cc651fa9.39f8c","9becbc76.ffcd6"]]},{"id":"cc651fa9.39f8c","type":"http response","z":"c09d1b01.8b18e8","name":"","statusCode":"","headers":{},"x":540,"y":340,"wires":[]},{"id":"9becbc76.ffcd6","type":"debug","z":"c09d1b01.8b18e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":440,"wires":[]},{"id":"92423bd0.2bdac8","type":"http in","z":"8c8cd832.e45528","name":"","url":"/setgpio11","method":"get","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["da0fd7e7.c88808","4ec9306f.53b1"]]},{"id":"da0fd7e7.c88808","type":"function","z":"8c8cd832.e45528","name":"set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["72300d5d.0dea14"]]},{"id":"72300d5d.0dea14","type":"rpi-gpio out","z":"8c8cd832.e45528","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":570,"y":140,"wires":[]},{"id":"4ec9306f.53b1","type":"function","z":"8c8cd832.e45528","name":"Return","func":"msg.payload = \"GPIO11 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["3b16f8.fb0ae908","8344263.9c81ed8"]]},{"id":"3b16f8.fb0ae908","type":"debug","z":"8c8cd832.e45528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":260,"wires":[]},{"id":"8344263.9c81ed8","type":"http response","z":"8c8cd832.e45528","name":"","statusCode":"","headers":{},"x":600,"y":340,"wires":[]},{"id":"6d9288e1.173398","type":"http in","z":"8c8cd832.e45528","name":"","url":"/clear","method":"get","upload":false,"swaggerDoc":"","x":140,"y":340,"wires":[["69426ca3.7c3ce4","43374977.fc07f8"]]},{"id":"69426ca3.7c3ce4","type":"function","z":"8c8cd832.e45528","name":"Set to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["72300d5d.0dea14"]]},{"id":"43374977.fc07f8","type":"function","z":"8c8cd832.e45528","name":"Return","func":"msg.payload = \"GPIO11 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["8344263.9c81ed8","3b16f8.fb0ae908"]]}]